version: '3.8'
services:
  mongodb:
    container_name: dm_db
    image: mongo:latest
    environment:
      MONGO_INITDB_DATABASE: dm_db
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: rootpassword
    ports:
      - $MONGODB_LOCAL_PORT:$MONGODB_DOCKER_PORT
    volumes:
      - mongodb_data_container:/data/db
  app:
    build: .
    ports:
      - $NODE_LOCAL_PORT:$NODE_DOCKER_PORT
    volumes:
      - ./:/src
    stdin_open: true
    tty: true

volumes:
  mongodb_data_container: